.DS_Store
.DS_Store?
._*
__*
# ExtractLatex/example_paper/arXiv-2404.12253v2
ExtractLatex/output*
ExtractLatex/arxiv_latex_zzOOqD6R1b_v1
.ipynb_checkpoints
test*.ipynb
converted_pngs
ExtractLatex/latex_copy.py
.env
openreview_account.json
ExtractLatex/parsed_arxiv
ExtractLatex/run_multithreaded_latex_debug*
AnswerChecklist/filter.py
AnswerChecklist/data*
*.csv
AnswerChecklist/*.zip
log_*.txt

ReproduceCycleReviewer/LLM_Responses/
ReproduceCycleReviewer/LLM_Responses_Parsed/
ReproduceCycleReviewer/review-5k-dataset/
ReproduceCycleReviewer/keys.py
ReproduceCycleReviewer/300_sampled_paper_ids.txt